html,
body {
    height: 100%;
    
}
body{
    background-color: #121212;   
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.player {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 4vh;
    width: 60vh;
    height: 50vh;
    background-color: #181818;

}
.songs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vh;
    gap: 8px;
}

.btn , .next {
    display: none;
}

.var {
    width: 60vh;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
}
.player{
    height: 350px;        
    overflow-y: auto;     
    padding: 10px;
    overflow-x: hidden;
    
}
.songs button{
    width: 50vh;
    background: #242424;
    color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;

}
.songs button:hover{
    background-color: rgb(74, 226, 69);
}
*{
    font-family: 'Poppins',sans-serif;
}
